﻿@page "/signalR"
@using ApiWrapper.Services
@using ApiWrapper.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject IChartService ChartService
@implements IAsyncDisposable

<PageTitle>SignalR</PageTitle>

<h1>SignalR Charts</h1>

<p>This component demonstrates signalR.</p>


@if (charts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="Send" disabled="@(!IsConnected)" title="Click here to notify the server to update new values">Send</button>
    <div style="height: 500px; display: flex; align-items: flex-end; justify-content: center; position: relative;">
        <div id="column-chart" style="height: 500px; width: 400px; display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: center; position: relative;">
            <div class="y-axis" style="position: absolute; left: 0; top: 0; bottom: 0; width: 2px; background-color: #333;"></div>
            <div class="x-axis" style="position: absolute; left: 0; right: 0; bottom: 0; height: 2px; background-color: #333;"></div>
            @foreach (var chart in charts)
            {
                <div class="column-container" style="width: 50px; margin: 0 10px; min-height: 0; max-height: 400px;">
                    <div class="column" style="height: @(Math.Min(Math.Max(chart.Data.FirstOrDefault()*10, 0), 400))px; background-color: @chart.BackgroundColor;">
                        <span class="value" style="display: block; text-align: center; margin-top: -20px;">@(chart.Data.FirstOrDefault())</span>
                    </div>
                    <div class="label" style="text-align: center;">@chart.Label</div>
                </div>
            }
        </div>
    </div>

    <table id="charts" class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Data</th>
                <th>BackgroundColor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chart in charts)
            {
                <tr>
                    <td>@chart.Label</td>
                    <td>@chart.Data.FirstOrDefault()</td>
                    <td>@chart.BackgroundColor</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr>


@code {
    private HubConnection? hubConnection;
    private List<ChartModel> charts = new List<ChartModel>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("wss://localhost:7001/chart")
            .Build();

        hubConnection.On<List<ChartModel>>("TransferChartData", (items) =>
        {
            charts =items;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        // https request
        // https://localhost:7001/api/chart
        await ChartService.Get();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
